<html>
	<body bgcolor=black> 
	<head>
		<title>Django Girls blog</title>
		</head>
		<body>
			<div>
				<h1><a href="http://www.meatspin.com">MY First blog</a></h1></div>


			<div>
				<p>published: 14.06.2014, 12:14</p>
				<h2><a href="http://www.ChristopherWalken.com">My First post</a></h2>
				<p>Aenean eu le balls balls balls balls balls balls</p>
				</div>


			<div>
				<p>published: 14.06.2014, 12:14</p>
				<h2><a href="">My second post</a></h2>
				<p> Aenean eu leo balls balls balls balls balls</p>
			</div>
		</body>
</html>
